$defaut-padding: 8px;
$defaut-margin: 8px;

$defaut-font: Arial;

$board-bg-color: #4a4e61;


$node-bg-color: #aaaaaa;

$node-type-input-bg: #6b1919;
$node-type-input-text: white;

$node-type-output-bg: #196b42;
$node-type-output-text: white;