@use 'theme';

body {
    font-family: theme.$defaut-font;
}

canvas {
    border: 1px solid red;
    background-color: theme.$board-bg-color;
}

#board {
    border: 1px solid blue;


}

div.button-field {
    h4 {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
    }

    div {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 4px
    }
}

div.node {
    position: absolute;
    background-color: theme.$node-bg-color;
    user-select: none;

    border-radius: theme.$defaut-margin *0.5;
    border-style: solid;
    border-width: 2px;
    border-color: adjust-color($color: theme.$node-bg-color, $lightness: -40%);

    &.selected {
        // border-width: 3px;
        border-color: theme.$node-selected-border-color;
    }

    &.top {
        z-index: 1;
    }

    .header {
        padding: theme.$defaut-padding * 0.5;
        font-weight: bold;
        margin-bottom: theme.$defaut-margin;

        // border-top-right-radius: theme.$defaut-margin *0.5;
        // border-top-left-radius: theme.$defaut-margin *0.5;
        &.input {
            background-color: theme.$node-type-input-bg;
            color: theme.$node-type-input-text;
        }

        &.output {
            background-color: theme.$node-type-output-bg;
            color: theme.$node-type-output-text;
        }

        &.transform {
            background-color: theme.$node-type-transform-bg;
            color: theme.$node-type-transform-text;
        }
        &.mathOp {
            background-color: theme.$node-type-mathOp-bg;
            color: theme.$node-type-mathOp-text;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        gap: theme.$defaut-margin * 0.5;
        padding-bottom: theme.$defaut-padding;

        .socket-row {
            margin: 0 theme.$defaut-margin *0.5;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: theme.$defaut-padding;

            &.output {
                margin-right: 0 - 6px;
                margin-left: theme.$defaut-margin * 2;
                justify-content: flex-end;
            }

            &.input {
                justify-content: flex-end;
                flex-direction: row-reverse;
                margin-left: 0 - 6px;
                margin-right: theme.$defaut-margin * 2;
            }

            .socket {
                border-width: 2px;
                border-style: solid;
                border-radius: 50%;
                width: 8px;
                height: 8px;

                &.bool {
                    background-color: theme.$socket-type-bool;
                    border-color: adjust-color($color: theme.$socket-type-bool, $lightness: -20%);
                    ;
                }

                &.float {
                    background-color: theme.$socket-type-float;
                    border-color: adjust-color($color: theme.$socket-type-float, $lightness: -20%);
                    ;
                }

                &.vector2 {
                    background-color: theme.$socket-type-vector2;
                    border-color: adjust-color($color: theme.$socket-type-vector2, $lightness: -20%);
                    ;
                }

                &.vector3 {
                    background-color: theme.$socket-type-vector3;
                    border-color: adjust-color($color: theme.$socket-type-vector3, $lightness: -20%);
                    ;
                }

                &.vector4 {
                    background-color: theme.$socket-type-vector4;
                    border-color: adjust-color($color: theme.$socket-type-vector4, $lightness: -20%);
                    ;
                }

                &.color {
                    background-color: theme.$socket-type-color;
                    border-color: adjust-color($color: theme.$socket-type-color, $lightness: -20%);
                    ;
                }
            }

            .socket-numeric-input {
                display: flex;
                flex-direction: column;
                width: 100px;
            }
        }

        .parameter {
            padding: theme.$defaut-padding;
        }
    }
}